<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Task!</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <h1>New Task!</h1>
    <form method="post" action="/posts">
        <h2 id="head">Task : </h2>
        <input type="text" name="task" id="">
        <br>
        <h2 id="head">Description : </h2>
        <input type="text" name="description" id="">
        <br>
        <br>
        <button>Add Task!</button>
    </form>    
</body>
</html>