<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="na">
        <div id="hea">
            <div id="head">
                TO-DO APP
            </div>
        </div>
        <div id="connect">
            <div id="dev">DEVELOPER:</div>
            <div id="con">
                <div id="name">
                    MOHD HAMZA ABBASI
                </div>
                <div id="mob">
                    +919336865880
                </div>
            </div>
        </div>
    </div>
    <div id="all">
        <%for(subtask of task){%>
            <div class="p">
                <h2><%=subtask.task%></h2>
                <br>
                <p><%=subtask.description%></p>
                <br>
                <form action="/edit/<%= subtask.task %>" id="frm">
                    <button id="btedit">EDIT!</button>
                </form>
                <form action="/delete/<%= subtask.task %>" id="frm">
                    <button id="btdel">DELETE!</button>
                </form>
            </div>
        <%}%>
    </div>
    <br>
    <div id="last">
        <form action="/new" id="frmu">
            <button id="new">New Post</button>
        </form>
        <form action="/logout" id="frmu">
            <button id="log">LOGOUT</button>
        </form>
    </div>
</body>
</html>