<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <style>
        #er
        {
            color: red;
            margin-top: 5%;
        }
        #pass
        {
            height: 100px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="na">
        <div id="hea">
            <div id="head">
                TO-DO APP
            </div>
        </div>
        <div id="connect">
            <div id="dev">DEVELOPER:</div>
            <div id="con">
                <div id="name">
                    MOHD HAMZA ABBASI
                </div>
                <div id="mob">
                    +919336865880
                </div>
            </div>
        </div>
    </div>
    <div id="log">
        <div id="inlog">
            <h1 id="h">New Task</h1 >
            <form action="/add" method="post" id="frm">
                <input type="text" id="user" placeholder=" Enter Task" name="task" required>
                <textarea type="text" id="pass" placeholder=" Enter Description" name="description" required></textarea>
                <button id="bt">ADD</button>
            </form>
        </div>
    </div>
</body>
</html>