<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <style>
        #er
        {
            color: red;
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <div id="na">
        <div id="hea">
            <div id="head">
                TO-DO APP
            </div>
        </div>
        <div id="connect">
            <div id="dev">DEVELOPER:</div>
            <div id="con">
                <div id="name">
                    MOHD HAMZA ABBASI
                </div>
                <div id="mob">
                    +919336865880
                </div>
            </div>
        </div>
    </div>
    <div id="log">
        <div id="inlog">
            <h1 id="h">SIGN UP</h1>
            <P>Already have an account? <a href="signup.html" id="lnk">Sign in</a></P>
            <form action="/new_signup" method="post" id="frm">
                <input type="text" id="user" placeholder=" Enter Username" name="user" required>
                <input type="password" id="pass" placeholder=" Enter password" name="pass" required>
                <button id="bt">SIGNUP</button>
            </form>
        </div>
    </div>
</body>
</html>